{% extends "layout.twig" %}

{% block title %}{{ 'navigation.admin.devices'|trans }}{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/select2.css" />
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/admin.css" />
{% endblock %}

{% block content %}
    <div class="page-header">
        <h3>{{ 'navigation.admin.devices'|trans }}</h3>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{{ 'device.name'|trans }}</th>
                <th>{{ 'device.accepted'|trans }}</th>
                <th>{{ 'device.accesslist'|trans }}</th>
                <th>{{ 'navigation.options'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for device in devices %} {# Show all devices #}
                <tr>
                    <td>{{ device.name }}</td>
                    <td>
                        {% if device.accepted %}
                            {{ 'general.yes'|trans }}
                        {% else %}
                            {{ 'general.no'|trans }}

                            <form action="javascript:updateAccepted({{ device.deviceid }});" method="POST">
                                <div class="control-group">
                                    <div class="controls">
                                        <input type="submit" value="{{ 'device.options.accept'|trans }}" class="btn btn-success"/>
                                        <input type="submit" value="{{ 'device.options.decline'|trans }}" class="btn btn-danger"/>
                                    </div>
                                </div>
                            </form>
                        {% endif %}
                    </td>
                    <td>
                        <form action="javascript:updateAccess({{ device.deviceid }});" method="POST" class="user-tags">
                            <div class="control-group">
                                <div class="controls">
                                    <input type="text" id="dev{{ device.deviceid }}_users" class="device" placeholder="{{ 'device.adduser'|trans }}"/>
                                    <input type="submit" id="dev{{ device.deviceid }}_save" value="{{ 'navigation.change'|trans }}" class="btn btn-success"/>
                                </div>
                            </div>
                        </form>
                    </td>
                    <td><a href="/mydevices/view/{{ device.deviceid }}">{{ 'device.options.viewstats'|trans }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'pagination.twig' %}
{% endblock %}

{% block footer %}
    <script src="{{ app.request.basepath }}/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="{{ app.request.basepath }}/js/select2.js"></script>

    <script>
        function updateAccess(deviceId)
        {
            var userData = $('#dev' + deviceId + '_users');
            var tags = '.select2-container-multi .select2-choices';

            $(tags).addClass('spinner'); // add spinning icon

            $.post(
                "/admin/devices",
                {
                    users: userData.val(),
                    deviceid: deviceId
                },
                    function (data) {
                        if (!data) {
                            alert("Failed to update device access list!");
                        }
                        $(tags).removeClass('spinner'); // add spinning icon
                    }
            );
        }

        $(document).ready(function() {
            $('.device').select2({
                createSearchChoice: function() { return null; }, // Disable adding of non-existent elements
                tags: {{ users|raw }},
                width: '80%'
            });

            {% for device in devices %} {# For each device, add the users to the tags #}
                {% for user in device_getusers(device.deviceid) %}
                    var deviceInput = '#dev{{ device.deviceid }}_users';
                    $(deviceInput).select2("val", $(deviceInput).select2("val").concat("{{ user }}"));
                {% endfor %}
            {% endfor %}
        });
    </script>
{% endblock %}