{% extends "layout.twig" %}

{% block title %}{{ 'navigation.admin.devices'|trans }}{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/bootstrap-tagsinput.css" />
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/admin.css" />
{% endblock %}

{% block content %}
    <div class="page-header">
        <h3>{{ 'navigation.admin.devices'|trans }}</h3>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{{ 'device.devicenumber'|trans }}</th>
                <th>{{ 'device.zipcode'|trans }}</th>
                <th>{{ 'device.housenumber'|trans }}</th>
                <th>{{ 'device.accesslist'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for device in devices %} {# Show all devices #}
                <tr>
                    <td>{{ device.deviceid }}</td>
                    <td>{{ device.zipcode }}</td>
                    <td>{{ device.housenumber }}</td>
                    <td>
                        <form action="javascript:updateAccess({{ device.deviceid }});" method="POST" class="user-tags">
                            <div class="control-group">
                                <div class="controls">
                                    <input type="text" id="dev{{ device.deviceid }}_users" class="device" placeholder="{{ 'device.adduser'|trans }}"/>
                                    <input type="submit" id="dev{{ device.deviceid }}_save" value="{{ 'navigation.change'|trans }}" class="btn btn-success"/>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block footer %}
    <script src="{{ app.request.basepath }}/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="{{ app.request.basepath }}/js/bootstrap-tagsinput.min.js"></script>
    <script>
        function updateAccess(deviceId)
        {
            var userData = $('#dev' + deviceId + '_users');
            var button = $('#dev' + deviceId + '_save').get();

            $('#dev' + deviceId + '_save').replaceWith("<img src='{{ app.request.basepath }}/img/select2-spinner.gif' id='dev" + deviceId + "_save'/>");

            $.post(
                "/admin/devices",
                {
                    users: userData.val(),
                    deviceid: deviceId
                },
                    function (data) {
                        if (!data) {
                            alert("Failed to update device access list!");
                        }
                        $('#dev' + deviceId + '_save').replaceWith(button); // restore button
                    }
            );
        }

        $(document).ready(function() {
            $('.device').tagsinput({
                typeahead: {
                    source: {{ users|raw }}
                },
                freeInput: false
            });

            {% for device in devices %} {# For each device, add the users to the tags #}
                {% for user in device_getusers(device.deviceid) %}
                    var deviceInput = '#dev{{ device.deviceid }}_users';
                    $(deviceInput).tagsinput('add', '{{ user }}');
                {% endfor %}
            {% endfor %}
        });
    </script>
{% endblock %}