{% extends "layout.twig" %}

{% block title %}{{ 'navigation.admin.viewuser'|trans }}{% endblock %}

{% block head %}
    <link href="{{ app.request.basepath }}/css/profile.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/jquery-ui-1.10.4.custom.min.css">
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/bootstrap-tagsinput.css" />
{% endblock %}

{% block content %}
    <div class="page-header">
        <h3>Viewing user '{{ user.username }}'</h3>
    </div>

    {% embed 'profile_form.twig' with {'show_oldpass': false, 'require_pass': false} %}
        {% block options %}
            {{ parent() }}

            <div class="control-group">
                <label class="control-label" for="add-device">{{ 'device.label'|trans }}</label>
                <div class="controls">
                    <input type="text" name="devices" id="devices" placeholder="{{ 'device.addzipcode'|trans }}"/>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block footer %}
    <script src="{{ app.request.basepath }}/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="{{ app.request.basepath }}/js/bootstrap-tagsinput.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#devices').tagsinput({
                typeahead: {
                    source: {{ all_devices|raw }}
                },
                freeInput: false
            });

            {% for device in user_devices %}
                $('#devices').tagsinput('add', '{{ device.zipcode }}');
            {% endfor %}
        });
    </script>
{% endblock %}