{% extends "layout.twig" %}

{% block title %}{{ 'navigation.admin.viewuser'|trans }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/profile.css"/>
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/select2.css"/>
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/admin.css"/>
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/jquery-ui-1.10.4.custom.min.css"/>
{% endblock %}


{% block content %}
    <div class="page-header">
        <h3>{{ user.username }}</h3>
    </div>

    {% embed 'profile_form.twig' with {'show_oldpass': false, 'require_pass': false} %}
        {% block options %}
            {{ parent() }}

            <div class="control-group">
                <label class="control-label" for="add-device">{{ 'device.label'|trans }}</label>
                <div class="controls">
                    <input type="text" name="devices" class="devices" placeholder="{{ 'device.addzipcode'|trans }}"/>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block footer %}
    <script src="{{ app.request.basepath }}/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="{{ app.request.basepath }}/js/select2.js"></script>

    <script>
        $(document).ready(function() {
            $('.devices').select2({
                createSearchChoice: function() { return null; }, // Disable adding of non-existent elements
                tags: {{ all_devices|raw }},
                width: '210px'
            })

            {% for device in user_devices %}
                var deviceInput = '.devices';
                $(deviceInput).select2("val", $(deviceInput).select2("val").concat("{{ device.name }}"));
            {% endfor %}
        });
    </script>
{% endblock %}