{% extends "layout.twig" %}

{% block title %}{{ 'navigation.mydevices'|trans }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h3>{{ 'navigation.mydevices'|trans }}</h3>
    </div>

    {% if devices != null %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>{{ 'device.devicenumber'|trans }}</th>
                    <th>{{ 'device.zipcode'|trans }}</th>
                    <th>{{ 'device.housenumber'|trans }}</th>
                    <th>{{ 'navigation.options'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for device in devices %} {# Show all devices the user has access to #}
                    <tr>
                        <td>{{ device.deviceid }}</td>
                        <td>{{ device.zipcode }}</td>
                        <td>{{ device.housenumber }}</td>
                        <td><a href="/mydevices/view/{{ device.deviceid }}">{{ 'device.options.viewstats'|trans }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ 'device.nodevices'|trans }}
    {% endif %}
{% endblock %}