{% extends "layout.twig" %}

{% block title %}{{ 'navigation.mydevices'|trans }}{% endblock %}

{% block head %}
    <link href="{{ app.request.basepath }}/css/datepicker.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/css/home.css" rel="stylesheet">
{% endblock %}

{% block content %}
    {% if (device_access or not app.centralmode) or is_granted('ROLE_ADMIN') %}
        {% set selectedDay = "now"|date('Y-m-d') %}
        {% set selectedMonth = "now"|date('Y-m') %}

        <div id='daily-chart'></div> <!-- Daily chart will be output here -->

        <div id='footer-daily'>
            <a href="javascript:getDay('{{ selectedDay|date_modify("-1 day")|date("Y-m-d") }}');" id='prev-day'>{{ 'stats.footer.previous'|trans }}</a>
            <span id='daily-text'>
                {% if (day.stats|raw|length != 2) %}
                    {{ 'stats.footer.available'|trans }}
                {% else %}
                    {{ 'stats.footer.notavailable'|trans }}
                {% endif %}
            </span>
            <span id='day-picker'>{{ selectedDay|date("d-m-Y") }}</span>
            <i id="icon-daily" class="icon-th"></i>
            <a href="javascript:getDay('{{ selectedDay|date_modify("+1 day")|date("Y-m-d") }}');" id='next-day'>{{ 'stats.footer.next'|trans }}</a>
        </div>

        <div id='monthly-chart'></div> <!-- Monthly chart will be output here -->

        <div id='footer-monthly'>
            <a href="javascript:getMonth('{{ selectedMonth|date("Y") }}-{{ selectedMonth|date_modify("-1 month")|date("m") }}');" id='prev-month'>{{ 'stats.footer.previous'|trans }}</a>
            <span id='monthly-text'>
                {% if (month.stats|raw|length != 2) %}
                    {{ 'stats.footer.available'|trans }}
                {% else %}
                    {{ 'stats.footer.notavailable'|trans }}
                {% endif %}
            </span>
            <span id='month-picker'>{{ selectedMonth|date("m-Y") }}</span>
            <i id="icon-monthly" class="icon-th"></i>
            <a href="javascript:getMonth('{{ selectedMonth|date("Y") }}-{{ selectedMonth|date_modify("+1 month")|date("m") }}');" id='next-month'>{{ 'stats.footer.next'|trans }}</a>
        </div>
    {% else %}
        {{ 'device.noaccess'|trans }}
    {% endif %}
{% endblock %}

{% block footer %}
    <script src="{{ app.request.basepath }}/js/highcharts/highcharts.js"></script>
    <script src="{{ app.request.basepath }}/js/highcharts/modules/exporting.js"></script>
    <script src="{{ app.request.basepath }}/js/ec_highcharts.js"></script>
    <script src="{{ app.request.basepath }}/js/date.js"></script>
    <script src="{{ app.request.basepath }}/js/bootstrap-datepicker.js"></script>

    {% if (device_access or not app.centralmode) or is_granted('ROLE_ADMIN') %}
        <script type="text/javascript">
            $(document).ready(function () {
                createHighchart(
                    '#daily-chart', {
                        chart: {
                            type: 'area'
                        },
                        title: {
                            text: "{{ 'chart.title'|trans }}"
                        },
                        subtitle: {
                            text: "{{ 'chart.day.subtitle'|trans }}"
                        },
                        xAxis: {
                            type: 'datetime',
                            tickInterval: 3600000
                        },
                        series: [
                            {
                                name: "{{ 'chart.kwgenerated'|trans }}",
                                data: {{ day.stats }}
                            }
                        ]
                  }
                );

                createHighchart(
                    '#monthly-chart', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: "{{ 'chart.title'|trans }}"
                        },
                        subtitle: {
                            text: "{{ 'chart.month.subtitle'|trans }}"
                        },
                        xAxis: {
                            type: 'datetime',
                            tickInterval: 24 * 3600 * 1000,
                            labels: {
                                rotation: -90,
                                y: 25
                            }
                        },
                        series: [
                            {
                                name: "{{ 'chart.kwgenerated'|trans }}",
                                data: {{ month.stats }}
                            }
                        ]
                    }
                );

                $("#icon-daily").datepicker({
                    format: "yyyy-mm-dd",
                    viewMode: "days",
                    minViewMode: "days",
                    autoclose: true
                }).on('changeDate', function (e) {
                    getDay(e.date.toString('yyyy-MM-dd'));
                });

                $("#icon-monthly").datepicker({
                    format: "yyyy-mm",
                    viewMode: "months",
                    minViewMode: "months",
                    autoclose: true
                }).on('changeDate', function (e) {
                    getMonth(e.date.toString('yyyy-MM'));
                });

                // Set minimum and maximum values
                $('#icon-daily').datepicker('setStartDate', '{{ day.min }}');
                $('#icon-daily').datepicker('setEndDate', '{{ day.max }}');
                $('#icon-monthly').datepicker('setStartDate', '{{ month.min }}');
                $('#icon-monthly').datepicker('setEndDate', '{{ month.max }}');
            });

            function updateFooter(date, emptyData)
            {
                var viewingText = (emptyData ? "{{ 'stats.footer.notavailable'|trans }}" : "{{ 'stats.footer.available'|trans }}");

                if (Date.parseExact(date, "yyyy-MM-dd")) { // we are updating the daily graph
                    // Set previous and next links
                    var isMinDate   = new Date.parse(date).equals(Date.parse('{{ day.min }}'));
                    var isMaxDate   = new Date.parse(date).equals(Date.parse('{{ day.max }}'));
                    var prevDate    = new Date.parse(date).add(-1).days();
                    var nextDate    = new Date.parse(date).add(1).days();

                    $("#prev-day").attr("href", isMinDate ? '#' : "javascript:getDay('" + prevDate.toString('yyyy-MM-dd') + "')");
                    $("#next-day").attr("href", isMaxDate ? '#' : "javascript:getDay('" + nextDate.toString('yyyy-MM-dd') + "')");

                    // Set viewing text and date
                    $('#daily-text').html(viewingText);
                    $('#day-picker').html(new Date(date).toString('dd-MM-yyyy'));
                } else { // we are updating the monthly graph
                    // Set previous and next links
                    var isMinDate   = new Date.parse(date).equals(Date.parse('{{ month.min }}'));
                    var isMaxDate   = new Date.parse(date).equals(Date.parse('{{ month.max }}'));
                    var prevDate    = new Date.parse(date).add(-1).months();
                    var nextDate    = new Date.parse(date).add(1).months();

                    $("#prev-month").attr("href", isMinDate ? '#' : "javascript:getMonth('" + prevDate.toString('yyyy-MM') + "')");
                    $("#next-month").attr("href", isMaxDate ? '#' : "javascript:getMonth('" + nextDate.toString('yyyy-MM') + "')");

                    // Set viewing text and date
                    $('#monthly-text').html(viewingText);
                    $('#month-picker').html(new Date(date).toString('MM-yyyy'));
                }
            }

            function getDay(date)
            {
                $('#daily-text').html("{{ 'stats.general.fetching'|trans }}");
                $('#day-picker').empty();

                $.getJSON("/stats/day/" + date + "{{ device_route }}", function (data) {
                    var chart = $('#daily-chart').highcharts().series[0].setData(data);
                    updateFooter(date, data.length <= 2); // update the footer, second argument is to check if data is empty or not
                });
            }

            function getMonth(date)
            {
                $('#monthly-text').html("{{ 'stats.general.fetching'|trans }}");
                $('#month-picker').empty();

                var splitData = date.split('-'); // split into year and month
                var year = splitData[0];
                var month = splitData[1];

                if (!Date.validateYear(parseInt(year)) || !Date.validateMonth(parseInt(month))) { // check if valid
                    $('#monthly-text').html("{{ 'stats.general.fetchingfailed'|trans }}");
                } else {
                    $.getJSON("/stats/month/" + year + '/' + month + "{{ device_route }}", function (data) {
                        var chart = $('#monthly-chart').highcharts().series[0].setData(data);
                        updateFooter(year + '-' + month, data.length <= 2); // update the footer, second argument is to check if data is empty or not
                    });
                }
            }

            $(window).resize(function () {
                var rotation = $(this).width() <= 768 ? -90 : 0;
                var y = $(this).width() <= 768 ? 25 : 15;

                $('#daily-chart').highcharts().xAxis[0].update({
                    labels: {
                        rotation: rotation,
                        y: y
                    }
                });
            });
        </script>
    {% endif %}
{% endblock %}