{% extends "layout.twig" %}

{% block title %}Index{% endblock %}

{% block content %}
	<div id='dailyChart'>
	</div>

	<div id='footerDaily'>
		<a href="javascript:getDay('{{ date|date_modify("-1 day")|date("Y-m-d")}}');" id='prevDay'>Previous</a>
		<span id='dailyText'>{{ (dayStats|raw|length != 2) ? 'Currently viewing statistics for' : 'No statistics available for' }}</span>
		<span id='dayPicker' class='datepicker'>{{ date|date("d-m-Y") }}.</span>
		<a href="javascript:getDay('{{ date|date_modify("+1 day")|date("Y-m-d")}}');" id='nextDay'>Next</a>
	</div>

	<div id='monthlyChart'>
	</div>

	<div id='footerMonthly'>
		<a href="javascript:getMonth('{{ date|date("Y") }}-{{ date|date_modify("-1 month")|date("m") }}');" id='prevMonth'>Previous</a>
		<span id='monthlyText'>{{ (monthStats|raw|length != 2) ? 'Currently viewing statistics for' : 'No statistics available for' }}</span>
		<span id='monthPicker' class='datepicker'>{{ date|date("m-Y")}}.</span>
		<a href="javascript:getMonth('{{ date|date("Y") }}-{{ date|date_modify("+1 month")|date("m") }}');" id='nextMonth'>Next</a>
	</div>
{% endblock %}

{% block extra_bottomjs %}
	<link href="{{ app.request.basepath }}/css/datepicker.css" rel="stylesheet">

	<script src="{{ app.request.basepath }}js/highcharts/highcharts.js"></script>
	<script src="{{ app.request.basepath }}js/highcharts/modules/exporting.js"></script>
	<script type="text/javascript" src="{{ app.request.basepath }}js/bootstrap.min.js" charset="UTF-8"></script>
	<script type="text/javascript" src="{{ app.request.basepath }}js/bootstrap-datepicker.js" charset="UTF-8"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$("#dayPicker").datepicker({
			 	format: "yyyy-mm-dd", 
				viewMode: "days", 
				minViewMode: "days",
			 	autoclose: true
			});

			$("#monthPicker").datepicker({
			 	format: "yyyy-mm", 
				viewMode: "months", 
				minViewMode: "months",
			 	autoclose: true
			});

			$("#dayPicker").on('changeDate', function(e) {
				getDay(convertDate(e.date, false, true));
	    	});

			$("#monthPicker").on('changeDate', function(e) {
				getMonth(convertDate(e.date, true, true));
	    	});

			// Set minimum and maximum values
			$.get("/val/min/month", function(data) {
				$('#monthPicker').datepicker('setStartDate', data);
			});
			$.get("/val/max/month", function(data) { 
				$('#monthPicker').datepicker('setEndDate', data);
			});
			$.get("/val/min/day", function(data) { 
				$('#dayPicker').datepicker('setStartDate', data);
			});
			$.get("/val/max/day", function(data) { 
				$('#dayPicker').datepicker('setEndDate', data);
			});
		});

		$(function () {
		    $('#dailyChart').highcharts({
				chart: {
					type: 'area',
				},
				title: {
					text: 'Energy production',
				},
				subtitle: {
					text: 'per day'
				},
				plotOptions: {
					area: {
						shadow: false,
						states: {
							hover: {
								lineWidth: 2
							}
						},
						marker: {
							enabled: false,
							states: {
								hover: {
									enabled: true,
									radius: 4,
									lineWidth: 1
								}
							}
						}
					}
				},
				xAxis: {
					type: 'datetime',
       				tickInterval: 3600000,
				},
				yAxis: {
					title: {
						text: 'kW'
					},
					plotLines: [{
						value: 0,
						width: 1,
						color: '#808080'
					}],
				},
				credits: {
					enabled:false
				},
				tooltip: {
					valueSuffix: 'kW',
					snap:1
				},
				legend: {
					layout: 'vertical',
					align: 'right',
					verticalAlign: 'middle',
					borderWidth: 0
				},
				series: [{
					name: 'kW generated',
          			data: {{ dayStats }}
				}]
		    });

			$('#monthlyChart').highcharts({
				chart: {
					type: 'column',
				},
				title: {
					text: 'Energy production',
				},
				subtitle: {
					text: 'per month'
				},
				plotOptions: {
					area: {
						shadow: false,
						states: {
							hover: {
								lineWidth: 2
							}
						},
						marker: {
							enabled: false,
							states: {
								hover: {
									enabled: true,
									radius: 4,
									lineWidth: 1
								}
							}
						}
					}
				},
				xAxis: {
					type: 'datetime',
	       			tickInterval: 24 * 3600 * 1000,
					labels: {
						rotation: -90,
						y:25
					}
				},
				yAxis: {
					title: {
						text: 'kW'
					},
					plotLines: [{
						value: 0,
						width: 1,
						color: '#808080'
					}],
				},
				credits: {
					enabled:false
				},
				tooltip: {
					valueSuffix: 'kW',
					snap:1
				},
				legend: {
					layout: 'vertical',
					align: 'right',
					verticalAlign: 'middle',
					borderWidth: 0
				},
				series: [{
					name: 'kW generated',
	          		data: {{ monthStats }}
				}]
			});
		});

		function convertDate(date, monthly, reverse)
		{
			var d = date.getDate();
			var m = date.getMonth() + 1;
			var y = date.getFullYear();

			if (monthly) {
				if (reverse) { // backwards
					return y + '-' + (m <= 9 ? '0' + m : m);
				} else {
					return (m <= 9 ? '0' + m : m) + '-' + y;
				}
			} else {
				if (reverse) {
					return y + '-' + (m <= 9 ? '0' + m : m) + '-' + (d <= 9 ? '0' + d : d);
				} else {
					return (d <= 9 ? '0' + d : d) + '-' + (m <= 9 ? '0' + m : m) + '-' + y;
				}
			}
		}

		function updateFooter(date, emptyData)
		{
			var viewingText = (emptyData ? 'No statistics available for' : 'Currently viewing statistics for');

			if (date.length > 7) { // we are updating the daily graph
				// Get previous and next date
				$.get("/dateCalc/" + date + "/inc/Y-m-d", function(data) { 
					$("#nextDay").attr("href", "javascript:getDay('" + data + "');");
				});

				$.get("/dateCalc/" + date + "/dec/Y-m-d", function(data) { 
					$("#prevDay").attr("href", "javascript:getDay('" + data + "');");
				});

				// Set viewing text and date
				$('#dailyText').html(viewingText);
				$('#dayPicker').html(convertDate(new Date(date)));
			} else { // we are updating the monthly graph
				// Get previous and next date
				$.get("/dateCalc/" + date + "/inc/Y-m", function(data) { 
					$("#nextMonth").attr("href", "javascript:getMonth('" + data + "');");
				});

				$.get("/dateCalc/" + date + "/dec/Y-m", function(data) { 
					$("#prevMonth").attr("href", "javascript:getMonth('" + data + "');");
				});

				// Set viewing text and date
				$('#monthlyText').html(viewingText);
				$('#monthPicker').html(convertDate(new Date(date), true));
			}
		}

		function getDay(date) 
		{
			$('#dailyText').html('Fetching data ...');
			$('#dayPicker').html('');

			$.getJSON("/" + date, function(data) { 
				var chart = $('#dailyChart').highcharts();
				chart.series[0].setData(data);
				updateFooter(date, data.length <= 2); // update the footer, second argument is to check if data is empty or not
			});
		}

		function getMonth(date)  // change to date ? 
		{
			$('#monthlyText').html('Fetching data ...');
			$('#monthPicker').html('');

			var splitData = date.split('-'); // split into year and month
			var year = splitData[0];
			var month = splitData[1];

			if (!year || !month) { // check if valid
				$('#monthlyText').html('Fetching data failed!');
			} else {
				$.getJSON("/" + year + '/' + month, function(data) { 
					var chart = $('#monthlyChart').highcharts();
					chart.series[0].setData(data);
					updateFooter(year + '-' + month, data.length <= 2); // update the footer, second argument is to check if data is empty or not
				});
			}
		}
	</script>
{% endblock %}